<!DOCTYPE html>
<html>
  <head>
    <title>Analysis Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="../analysis_style.css">
  </head>
  <body>
    <h2>Analysis Dashboard</h2>
    <form action="{{ url_for('auth.logout') }}" method="post">
      <input type="hidden" name="_method" value="POST">
      <button type="submit" class = "logout-button">Logout</button>
  </form>
    {% for question_text in question_texts %}
    <div class="chart-container">
      <div id="chart{{ loop.index0 }}"></div>
      <button type="button" class="view-demographic-button" onclick="viewDemographics({{ loop.index }}, '{{ question_text }}')">
        View Demographics
      </button>
    </div>

    <script>
      var graphData{{ loop.index0 }} = {{ graphJSONs[loop.index0] | safe }};
      Plotly.newPlot("chart{{ loop.index0 }}", graphData{{ loop.index0 }});
    </script>
    {% endfor %}

    <script>
      function viewDemographics(questionId, questionText) {
        var encodedQuestionText = encodeURIComponent(questionText);
        window.location.href = "/demographics/" + questionId + "?question_text=" + encodedQuestionText;
      }
    </script>
  </body>
</html>
