<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Analysis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1>Data Analysis</h1>
    <div>
      <h2>Surveys</h2>
      {% for prompt_id in prompt_ids %}
          <a href="/analysis/{{ prompt_id[0] }}" class="btn btn-primary mt-3">Survey {{ loop.index0 + 1 }}</a>
      {% endfor %}
  </div>
  
</body>
</html>


