<!DOCTYPE html>
<html>
  <head>
    <title>Company Target Audience Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/company_style.css') }}">
  </head>
  <body>
    <div class="universal-container">
      <form action="{{ url_for('auth.logout') }}" method="post" class="position-fixed top-0 end-0 m-4">
        <input type="hidden" name="_method" value="POST">
        <button type="submit" class="btn btn-danger" style="position: fixed; top: 10px; right: 10px;">Logout</button>
    </form>
      <div class="left-container">
        <img
          class="image"
          src="{{ url_for('static', filename='survey.jpg') }}"
          alt="Image"
        />
      </div>
      <div class="right-container">
        <div class="container mt-5">
          <h1 class="display-4">Company Target Audience Form</h1> <br>
          <form class="survey-form" action="/company" method="post">
            {% if not existing_company %}
            <div class="form-group">
              <label for="name">COMPANY NAME</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Enter company name"
                {% if existing_company %} style="display: none;" {% endif %}
              />
            </div>
            <div class="form-group">
              <label for="branch">BRANCH ADDRESS</label>
              <input
                type="text"
                class="form-control"
                id="branch"
                name="branch"
                placeholder="Enter branch address"
                {% if existing_company %} style="display: none;" {% endif %}
              />
            </div>
            <div class="form-group">
              <label for="email">EMAIL</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter email to contact"
                {% if existing_company %} style="display: none;" {% endif %}
              />
            </div>
            <div class="form-group">
              <label for="phone">PHONE NUMBER</label>
              <input
                type="tel"
                class="form-control"
                id="phone"
                name="phone"
                placeholder="Enter phone number to contact"
                {% if existing_company %} style="display: none;" {% endif %}
              />
            </div>
            {% endif %}
            <div class="form-group form-prompt">
              <label for="prompt">PRODUCT PROMPT</label>
              <textarea
                id="prompt"
                name="prompt"
                placeholder="Enter a prompt that describes your product"
              ></textarea>
            </div>
            <div class="center">
              <input type="hidden" name="prompt" value="{{ prompt }}" />
              <button type="submit" class="btn btn-primary btn-lg">
                Submit
              </button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4Ufyk9BTA41+OJmA1k7U2GCdbCkKj3gzeJfN7owmIw+20UksdQRVvoxMfooE/5v"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
