<!DOCTYPE html>
<html>
  <head>
    <title>Generated Questions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_survey_style.css') }}">
    
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div class="container">
      <h1 class="display-4" >User Survey Form</h1>
      <form method="POST" action="/finalize_questions" class="my-form">
        <div id="demographic-section">
          <div class="form-group">
            <label for="firstname"><h4><b>First Name</b></h4></label>
            <br />
            <input
              type="text"
              class="form-control"
              id="firstname"
              name="firstname"
              placeholder="First Name"
            />
          </div>

          <div class="form-group">
            <label for="lastname"><h4><b>Last Name</b></h4></label>
            <br />
            <input
              type="text"
              class="form-control"
              id="lastname"
              name="lastname"
              placeholder="Last Name"
            />
          </div>

          <div class="form-group">
            <label for="email"><h4><b>Email</b></h4></label>
            <br />
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Email"
            />
          </div>

          <div class="form-group">
            <label><h4><b>What is your age range?</b></h4></label
            ><br />
            <!-- Age range radio buttons -->

            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="agerange"
                id="under-18"
                value="Under 18"
              />
              <label class="form-check-label" for="under-18">Under 18</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="agerange"
                id="18-24"
                value="18-24"
              />
              <label class="form-check-label" for="18-24">18-24</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="agerange"
                id="25-34"
                value="35-44"
              />
              <label class="form-check-label" for="35-44">35-44</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="agerange"
                id="45-54"
                value="45-54"
              />
              <label class="form-check-label" for="45-54">45-54</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="agerange"
                id="55-64"
                value="55-64"
              />
              <label class="form-check-label" for="55-64">55-64</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="agerange"
                id="65-plus"
                value="65+"
              />
              <label class="form-check-label" for="65-plus">65+</label>
            </div>
          </div>

          <div class="form-group">
            <label><h4><b>What is your gender?</b></h4></label
            ><br />
            <!-- Gender radio buttons -->
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="male"
                value="Male"
              />
              <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="female"
                value="Female"
              />
              <label class="form-check-label" for="female">Female</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="transgender"
                value="Transgender"
              />
              <label class="form-check-label" for="transgender"
                >Transgender</label
              >
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="non-binary"
                value="Non-binary"
              />
              <label class="form-check-label" for="non-binary"
                >Non-binary</label
              >
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="no-response"
                value="No response"
              />
              <label class="form-check-label" for="no-response"
                >No Response</label
              >
            </div>
          </div>

          <div class="form-group">
            <label for="race"><h4><b>What is your race?</b></h4></label
            ><br />
            <!-- Race radio buttons -->
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="race"
                id="white"
                value="white"
              />
              <label class="form-check-label" for="white">White</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="race"
                id="black"
                value="black"
              />
              <label class="form-check-label" for="black"
                >Black or African American</label
              >
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="race"
                id="asian"
                value="asian"
              />
              <label class="form-check-label" for="asian">Asian</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="race"
                id="native"
                value="american indian or alaska native"
              />
              <label class="form-check-label" for="native"
                >American Indian or Alaska Native</label
              >
            </div>
          </div>

          <div class="form-group">
            <label for="employmentstatus"><h4><b>What is your current employment status?</b></h4></label
            ><br />
            <!-- Employment status radio buttons -->
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="employmentstatus"
                id="student"
                value="student"
              />
              <label class="form-check-label" for="student">Student</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="employmentstatus"
                id="working"
                value="working"
              />
              <label class="form-check-label" for="working"
                >Working professional</label
              >
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="employmentstatus"
                id="retired"
                value="retired"
              />
              <label class="form-check-label" for="retired">Retired</label>
            </div>
          </div>
        </div>

        <button type="button" class="create-survey-button" id="next-button">
          Next
        </button>

        <div
          class="question-container"
          id="questions-section"
          style="display: none"
        >

        {% for question, answers in question_data %}
        <div class="question">
          <h4><strong>{{ question }}</strong></h4>
            {% for answer in answers %}
              <label>
                <input type="radio" name="{{ question }}" value="{{ answer }}" />
                {{ answer }}
              </label>
            {% endfor %}
        </div>
      {% endfor %}
      
          <button
            type="button"
            class="create-survey-button"
            id="back-button"
            style="display: none"
          >
            Back
          </button>
          {% if current_route == '/finalize_questions' %}
          <button
            type="submit"
            class="create-survey-button"
            formaction="/finalize_questions"
          >
            Create Survey
          </button>
          {% elif current_route == '/survey' %}
          <button
            type="submit"
            class="create-survey-button"
            formaction="/survey"
          >
            Submit
          </button>
          {% endif %}
        </div>
      </form>
    </div>
    <script>
      $(document).ready(function () {
        $("#next-button").click(function () {
          $("#demographic-section").hide();
          $("#questions-section").show();
          $(this).hide();
          $("#back-button").show();
        });

        $("#back-button").click(function () {
          $("#questions-section").hide();
          $("#demographic-section").show();
          $("#next-button").show();
          $(this).hide();
        });
      });
    </script>
  </body>
</html>
